bcrypt
certifi
CurrencyConverter
deepdiff
Flask==2.1.0

# testing
flask-unittest

# gevent # https://github.com/benoitc/gunicorn/issues/1878
git+https://github.com/typeworld/typeworld.git
git+https://github.com/yanone/hotmetal.git
google-api-python-client
google-cloud-ndb
google-cloud-secret-manager
google-cloud-storage
google-cloud-translate
# appengine-python-standard # for urlfetch

gunicorn
keyring
lxml
Markdown
markdown2
Pygments
pyjwt
pyzmq
selenium
semver

# https://stripe.com/docs/billing/subscriptions/metered
stripe>=2.60.0,<3.0
