
body {

	background-color: #DDDB00;
}

p {
    margin-top: 0px;
    margin-bottom: -8px;
}

.accountbar {
    position: fixed;
    top: 0px;
    right: 0px;
    color: black;
    padding: 20px;
}

.accountbar a {
    color: inherit;
}

.panelOuter {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.panelMiddle {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.panel {
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.panel .header {
    background-color: #3C3C3C;
    padding: 30px;
    color: #00FFA8;
    font-size: 16pt;
    text-align: center;
    font-weight: 400;

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.panel .content {
    padding: 30px;
    padding-bottom: 40px;
    background-color: white;
}

.panel .content h1 {
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: 400;
    /* color: #575757; */
}

.panel .content h1 .black {
    color: black;
}

.panel .content table {
    
}

.panel .content th {
}

.panel .content tr {
    border-bottom: unset;
}

.panel .content td {
    background-color: unset;
    text-align: unset;
    padding: 3px;
}

/* .panel .content td {
    background-color: unset;
} */

.panel .content .scope {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%); 

    padding: 10px;
    margin: -30px;

    margin-top: 0px;
    margin-bottom: -25px;
}

.panel .content .scope .head {
    background-color: inherit;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    /* font-weight: 200; */
    font-size: 18pt;
}

.panel .content .scope .content {
    background-color: inherit;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

.panel .content .label {
    font-size: 80%;
    color: #9D9D9C;
    line-height: 100%;
    margin-bottom: -13px;
}

.panel .content .data {
    margin-bottom: -5px;
}

.panel .supplemental {
    background-color: #FCFCFC;
    background: linear-gradient(0deg, rgba(253, 253, 253, 1) 0%, rgba(250, 250, 250, 1) 100%); 
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 35px;
    /* font-size: 11pt;
    line-height: 130%; */
    /* color: #9D9D9C; */
}

.panel .footer {
    background-color: #F6F6F6;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 35px;
    font-size: 11pt;
    line-height: 130%;
    color: #9D9D9C;

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.panel .footer a {
    color: inherit;
}

.button {
    font-size: inherit;
    line-height: inherit;
    background-color: #00FFA8;
    color: black;
    /* padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    margin-right: 7px; */

	border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px; -khtml-border-radius:7px;
}

.loginContent {
    display: block;
}

.blink {
    animation-name: animation_blink;
    animation-timing-function: ease-in;
    animation-duration: 1s; 
    animation-iteration-count: infinite;            
}

@keyframes animation_blink {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }    
}
